
head{
    background-color: aqua;
}
body{
    color: brown;

h1{
    background-color: blue;
    color: red;
    font-size: 40px;

}
h2{
    background-color: royalblue;
    font-size: 20px;
    color: black
}